Book Appointment.json
{
  "name": "Book Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "830ab84c-4169-4da9-bd84-06fb654fb97e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        64
      ],
      "id": "4b94d134-7f4e-49b0-a410-92e3c66a8599",
      "name": "Webhook",
      "webhookId": "830ab84c-4169-4da9-bd84-06fb654fb97e"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -208,
        304
      ],
      "id": "f11113d2-9299-4bec-a7fa-28e677a2605a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "OtbFsx5vgzeisVQ2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "razasaba86@gmail.com",
          "mode": "list",
          "cachedResultName": "razasaba86@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "=name : {{ $json.body.name }}\nnumber :{{ $json.body.number }}\nissue :{{ $json.body.issue }}\nemail : {{ $json.body.email }}",
          "summary": "=appointment for  {{ $json.body.name }}\nat {{ $json.body.time }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -32,
        304
      ],
      "id": "7c5b7c2d-2fd6-4304-b6cc-3feeea9dba04",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RtMKQ6wXUJ3snofn",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:You are an Appointment Booking AI Agent. Your job is to use the \"Create an event in Google Calendar\" tool to take the confirmed appointment details from the customer and create a booking in the calendar.\nInputs Provided:\nConfirmed appointment time: \n{{ $json.body.time }}\nCurrent time: \n{{ $now }}\nBooking Rules:\nAll appointments are 1 hour long.The start time of the event is the confirmed time.The end time is exactly 1 hour after the confirmed time.Use these values when creating the Google Calendar event.\nIf the event is successfully scheduled:\nRespond in this exact style and structure:\nOutput:\"Hey there! The appointment on July 18th 2025 for a massage has been scheduled. We will see you there.\"(Use the actual date and service in your response.)Your tone must be friendly, natural, and clear.Post-Booking Process (Mandatory)\n## Post booking ProcessAfter You have scheduled the appointment, you must follow this post-booking process:Use the \"send confirmation email\" tool to send a confirmation email to the customer about their booking.Use the customer details in the database to enter the customer details in a Google Sheet upon booking an appointment.You must follow both of these processes after you have booked an appointment.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        48
      ],
      "id": "577cacd3-af67-4c52-a3b7-450feab0ea10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "Appointment at BrightSmile Dental Clinic",
        "message": "=This is Confirmation email for booking of   appointment  {{ $json.body.name }} at {{ $json.body.time }} for {{ $json.body.issue }}\nThanks for considering us.\nRegards : BrightSmile Dental Clinic",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        272
      ],
      "id": "6f9f734b-4378-4f23-a8fc-bfc4450c8378",
      "name": "Send a message in Gmail",
      "webhookId": "559ac4a4-1c5b-41af-9657-7322f728cd6b",
      "credentials": {
        "gmailOAuth2": {
          "id": "9lwk4dG9vDlhndG3",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wOLCJ6Y8svsccJ3_tdnr8AbimEvgmJqMUnSJvSSbxG0",
          "mode": "list",
          "cachedResultName": "11Eleven Labs-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wOLCJ6Y8svsccJ3_tdnr8AbimEvgmJqMUnSJvSSbxG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wOLCJ6Y8svsccJ3_tdnr8AbimEvgmJqMUnSJvSSbxG0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.name }}",
            "number": "={{ $json.body.number }}",
            "issue": "={{ $json.body.issue }}",
            "time": "={{ $json.body.time }}",
            "email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "issue",
              "displayName": "issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        240,
        304
      ],
      "id": "cf3a5663-c175-496e-8651-2f1a1a262901",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qMe0vx1hL1OgeLVQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        64
      ],
      "id": "aaa55ee3-a032-4d77-9a6f-c5e25a439f90",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e15b4a67-5087-4e80-bd5c-08a36a136a90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52dfeebfc976fdfcb775f6493509da83f017b0ba1c7eca97e4ee46e4250622d4"
  },
  "nodeGroups": [],
  "id": "fLvKYDb935toVspf",
  "tags": []
}