WhatsApp Chatbot Creation from Scratch.json
{
  "name": "WhatsApp Chatbot Creation from Scratch",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        144
      ],
      "id": "f4812c56-18bc-4e41-97a3-ff2164686481",
      "name": "WhatsApp Trigger",
      "webhookId": "df5e420c-519f-4f8d-b79e-00b3c626b0d0",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "BJiTfBlLyUlVEPxP",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1178470995352655",
        "recipientPhoneNumber": "923134800613",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        208,
        176
      ],
      "id": "009cc1f1-1e3b-413f-bc21-f0839dfe4321",
      "name": "Send message",
      "webhookId": "b6603406-8e23-4d6c-856b-b365dc035cfc",
      "credentials": {
        "whatsAppApi": {
          "id": "Db57w8JVDIoudkDb",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"MFSR Restaurant\".Rules:When a user sends their first message (like hi, hello), reply with:\"Welcome to MFSR Restaurant 🏪How can I help you today?🛍️ Place an orderℹ️ FAQ / Information📦 Check order / stock\"(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)If user wants order:Ask step by step: name, food item, quantityCheck Inventory sheet before confirmingIf available -> \"Your order for [item] (x quantity) is confirmed ✅\"If not available -> \"Sorry, [item] is out of stock ❌. Available options: [list items]\"Only confirmed orders go into the Orders sheetIn Orders sheet always include:Status = Confirmed / RejectedDescription = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"If user wants FAQ:Answer short and clear (delivery time, payment method, restaurant hours)If user wants check order or check stock:Ask for food name or order idLook up in Google Sheets (Orders / Inventory)If checking order -> reply with status (Confirmed / Rejected / Cancelled / Delivered)If checking stock -> reply with available quantity of that foodAlso list all available food items with quantity if requestedIf user wants cancel order:Reply politely:\"Sorry 🙏 I cannot cancel orders directly.Please call the restaurant owner first and inform them.Owner Contact: +923134800613\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        144
      ],
      "id": "1b9b65c1-1735-446c-9633-04e68e024735",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -352,
        416
      ],
      "id": "6bb48a1d-61a8-4722-a601-d6f71b599303",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw",
          "mode": "list",
          "cachedResultName": "food_delivery_system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 902106288,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit#gid=902106288"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -144,
        368
      ],
      "id": "1645e3e5-c29d-4b97-a777-f59885306a76",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qMe0vx1hL1OgeLVQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw",
          "mode": "list",
          "cachedResultName": "food_delivery_system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1366113785,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit#gid=1366113785"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        304
      ],
      "id": "4d81a3b3-213e-41e3-88aa-6060eed6fd6a",
      "name": "Get FAQ's",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qMe0vx1hL1OgeLVQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw",
          "mode": "list",
          "cachedResultName": "food_delivery_system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1698740191,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-a_5jlACXLN4VIGcXAoDUUY0zXKdUaBsqAZR86qkHmw/edit#gid=1698740191"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item', ``, 'string') }}",
            "Total Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Price', ``, 'string') }}",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Price",
              "displayName": "Total Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        368
      ],
      "id": "4920c393-089b-49b0-a293-f918ab8ab292",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qMe0vx1hL1OgeLVQ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -576,
        352
      ],
      "id": "d725ea1b-b78d-4744-bf49-c71bc7d1f631",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lr5URzPlI6iRkSqg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ's": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cb15216a-fcfe-442b-991d-0896743028eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52dfeebfc976fdfcb775f6493509da83f017b0ba1c7eca97e4ee46e4250622d4"
  },
  "nodeGroups": [],
  "id": "QmqTA8p3Jasvoi12",
  "tags": []
}